* {
  box-sizing: border-box;
}

.about {
  padding: 2rem;
}

.about h1 {
  color: #a5ec22;
  text-align: center;
  font-size: 3rem;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: 0;
}

.items .person {
  display: flex;
  flex-direction: column;
  margin: 1rem 1%;
  padding: 1rem;
  border: 1px solid white;
  width: 48%;
}

.person-title {
  display: flex;
  flex-direction: row;
}

.person-title h2 {
  color: #8850d1;
  border-right: 5px solid #521c99;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 2rem;
}

.person-title img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}

.items p {
  font-size: 1.5rem;
}

.items span {
  font-size: 2rem;
  color: #d7e055;
}
