.intro {
  color: white;
  padding: 2rem;
}

.intro h1 {
  color: #a5ec22;
  text-align: center;
  font-size: 3rem;
}

.intro h3 {
  color: #8850d1;
  border-right: 5px solid #521c99;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 2rem;
}

.intro p {
  font-size: 1.5rem;
}
