fieldset {
  background-color: #000;
  width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  font-size: 2rem;
  color: black;
}

legend {
  font-size: 3rem;
  color: #dd63a0;
}

form span {
  color: #a5ec22;
  border-bottom: 1px solid #a5ec22;
  padding: 0.5rem 0;
}

form label {
  color: #9a68db;
}

form input {
  background-color: #ededed;
  outline: none;
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

form button {
  padding: 1rem 2rem;
  background-color: #570a30;
  float: left;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2rem;
  box-shadow: 0 0 15px rgb(102, 92, 92);
}

.pic input {
  background-color: transparent;
  color: white;
}
